// External imports

// @import 'o-grid/main';

// Internal imports
@import 'src/scss/variables';
@import 'src/scss/mixins';

@if not $o-image-cropper-is-silent {
	@include oImageCropperHello(world of Origami);
}
.cropper {
    position: relative;
    cursor: crosshair;
}

.cropper-area-handle {
    width: 12px;
    height: 12px;
		border-radius: 100%;
    background: yellow;
}
.cropper-overlay {
    background: black;
    opacity: 0.5;
    // filter: alpha(opacity = 50);
}
